<div>
  <h3>Add User</h3>
  <form (ngSubmit)="addUser()" #userForm="ngForm">
    <div class="form-group">
      <label for="fname">First Name: </label>
      <input
        class="form-control"
        name="fname"
        id="fname"
        [(ngModel)]="model.fname"
      />
    </div>
    <div class="form-group">
      <label for="lname">Last Name: </label>
      <input
        class="form-control"
        name="lname"
        id="lname"
        [(ngModel)]="model.lname"
      />
    </div>
    <div class="form-group">
      <label for="age">Age: </label>
      <input
        type="number"
        class="form-control"
        name="age"
        id="age"
        [(ngModel)]="model.age"
      />
    </div>
    <button type="submit">
      Submit
    </button>
  </form>
</div>
