<h3>Users</h3>
<div *ngFor="let item of users">
  <span>{{ item.firstName }} {{ item.lastName }}</span>
  <span [ngClass]="{ age: item.age > 30 }"> - {{ item.age }}</span>
</div>
<app-user-form (addUserEvent)="addUserEvent($event)"></app-user-form>