<header>
    <div class="container">
      <a [routerLink]="['/']" routerLinkActive="router-link-active">Angular 7 Demo</a>
      <nav>
        <ul>
          <li>
            <a [routerLink]="['/']" routerLinkActive="router-link-active">Home</a> 
            <a [routerLink]="['/users']" routerLinkActive="router-link-active">Users</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>